// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#container {

	.text-description-group {
			font-size: 42px;
			line-height: 44px;
			margin: 0;
			margin-top: 40px;
			padding-left: 4px;
			padding-top: 100px;
			padding-bottom: 10px;
			display: block;
			padding: 2px 5px;
			font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
			color: #fff;
			background-color: rgba(0,0,0,.7);

			width: 100%;
	}

	.compare-box {
		width: 800px;
		height: 65px;

		margin: 0 auto;
		margin-top: 150px;
		padding-left: 4px;

		background: #eee;
		background: rgba(255,255,255,0.95);
		background: -webkit-gradient(linear, 50% 0%, 50% 95, color-stop(0%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,0.85)));
		background: -webkit-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
		background: -moz-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
		background: -o-linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
		background: linear-gradient(rgba(255,255,255,0.95) 0px,rgba(255,255,255,0.85) 95px);
		-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.8);
		-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.8);
		box-shadow: 0 3px 8px rgba(0,0,0,0.8);
		border-bottom: 1px solid #fff;

		text-align: center;
		border-radius: 5px;

		input {
			font-weight:bold;
			font-size: 1.2em;
			text-align:center;
			text-shadow:0 1px rgba(255,255,255,0.5);


			-webkit-box-shadow: -1px 3px 8px rgba(0,0,0,0.8);
			-moz-box-shadow: -1px 3px 8px rgba(0,0,0,0.8);
			box-shadow: -1px 3px 8px rgba(0,0,0,0.8);
		}

		.compare-form {
			height: 47px;
			width: 260px;

			margin-top: 3px;
		}

		.text {
		  	line-height:65px;
		  	font-weight:bold;
		  	font-size: 1.4em;
		  	color:#505050;
		  	text-align:center;
		  	text-shadow:0 1px rgba(255,255,255,0.5);

		  	margin-right: 10px;
		  	margin-left: 10px;
		}
	}
}