<!DOCTYPE html>
<html>
<head>
  <title>Wuzbest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
	<header>
		<div id="logo">
			<a href="">Wuzbest</a>
		</div>

		<div id="menu">
			<a href="">Compare</a>
			<a href="">Explore</a>
			<a href="">Profil</a>
		</div>
	</header>

<%= yield %>

</body>
</html>
